<div class="image__media" style="background-image: url('{{ media.m }}')"></div>

<div class="image__content">

	<h2 class="image__title">
		<a href="#/images/{{ id }}">{{ title }}</a>
	</h2>

	<ul class="image__info">
		<li>
			<a class="btn" href="{{ authorUrl author_id }}" target="_blank">Photo author</a>
		</li>
		<li>
			{{ dateFormat published }}
		</li>
		<li>
			<a class="btn" href="{{ link }}" target="_blank">View on Flickr</a>
		</li>
	</ul>

</div>
